Repository henrycatalinismith/itsy: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy:studio, deploy:website

.gitlab-ci.yml:

---

stages:
  - deploy

deploy:studio:
  stage: deploy
  image: highvalleysystems/itsy:latest
  only:
    changes:
      - editor/**/*
      - itsy/**/*
      - manual/**/*
      - studio/**/*
  before_script:
    - echo fs.inotify.max_user_instances=524288 | tee -a /etc/sysctl.conf && sysctl -p
    - echo fs.inotify.max_user_watches=524288   | tee -a /etc/sysctl.conf && sysctl -p
    - echo fs.inotify.max_queued_events=524288  | tee -a /etc/sysctl.conf && sysctl -p
  script:
    - cd itsy
    - yarn --pure-lockfile
    - make itsy
    - cd ..
    - cd editor
    - yarn --pure-lockfile
    - yarn build
    - cd ..
    - cp editor/webviews/index.html studio/assets/webviews/editor.html
    - cd manual
    - yarn --pure-lockfile
    - yarn build
    - cd ..
    - cp manual/webviews/index.html studio/assets/webviews/manual.html
    - cd studio
    - yarn --pure-lockfile
    - yarn expo login -u $EXPO_USERNAME -p $EXPO_PASSWORD
    - yarn expo publish --non-interactive
  
deploy:website:
  stage: deploy
  image: node:12-stretch
  before_script:
    - cd website
  only:
    changes:
      - website/**/*
  script:
    - yarn --pure-lockfile
    - yarn gatsby build
    - yarn netlify deploy --prod --dir=public --site $NETLIFY_SITE_ID --auth $NETLIFY_AUTH_TOKEN

https://github.com/konvajs/react-konva/issues/311#issuecomment-454411007
  graphics/components/color/color.component.tsx
  graphics/components/color/color.module.scss
  graphics/components/pixel/index.ts
  graphics/components/pixel/pixel.component.tsx
  graphics/components/spritesheet/spritesheet.component.tsx
  graphics/store/palette/palette.slice.ts
Due: none

failed optimization
  graphics/components/pixel/pixel.component.tsx
  graphics/components/spritesheet/spritesheet.component.tsx
  graphics/store/palette/palette.slice.ts
  graphics/store/spritesheet/spritesheet.slice.ts
Due: none

even this is too slow
  graphics/components/pixel/index.ts
  graphics/components/pixel/pixel.component.tsx
  graphics/components/spritesheet/spritesheet.component.tsx
Due: none

start reworking as plain canvas
  graphics/components/spritesheet/spritesheet.component.tsx
Due: none

bloody hell this is too slow and all
  graphics/components/spritesheet/spritesheet.component.tsx
Due: none

fix some perf troubles
  graphics/components/graphics/graphics.component.tsx
  graphics/components/graphics/graphics.module.scss
  graphics/components/spritesheet/spritesheet.component.tsx
  graphics/components/spritesheet/spritesheet.module.scss
Due: none

https://rosettacode.org/wiki/Bitmap/Bresenham%27s_line_algorithm#C
  graphics/components/spritesheet/spritesheet.component.tsx
Due: none

cl
  graphics/components/spritesheet/spritesheet.component.tsx
Due: none

color slice
  graphics/components/color/color.component.tsx
  graphics/components/spritesheet/spritesheet.component.tsx
  graphics/store/color/color.slice.ts
  graphics/store/color/index.ts
  graphics/store/index.ts
  graphics/store/palette/palette.slice.ts
Due: none

fix
  graphics/components/spritesheet/spritesheet.component.tsx
  graphics/store/color/color.slice.ts
  graphics/store/spritesheet/spritesheet.slice.ts
Due: none

hook up graphics -> studio
  studio/components/draw-panel/draw-panel.component.tsx
  studio/components/draw-panel/draw-panel.module.scss
  studio/components/draw-panel/index.ts
  studio/components/panel-slider/panel-slider.component.tsx
  studio/components/panel-tiler/panel-tiler.component.tsx
  studio/store/index.ts
  studio/store/panels/panels.slice.ts
Due: deploy:studio

touch not mouse
  graphics/components/spritesheet/spritesheet.component.tsx
Due: none

fix ts
  graphics/components/spritesheet/spritesheet.component.tsx
Due: none

add it to the build
  .gitlab-ci.yml
Due: none

onTouchStart etc
  graphics/components/spritesheet/spritesheet.component.tsx
  graphics/store/spritesheet/spritesheet.slice.ts
Due: none

fix ci
  .gitlab-ci.yml
Due: none

almost finished importing
  graphics/index.tsx
  graphics/store/palette/palette.slice.ts
  graphics/store/spritesheet/spritesheet.slice.ts
  studio/components/draw-panel/draw-panel.component.tsx
Due: deploy:studio

maybe it works now?
  graphics/components/graphics/graphics.component.tsx
  graphics/components/spritesheet/spritesheet.component.tsx
  graphics/index.tsx
  graphics/package.json
  graphics/store/index.ts
  graphics/store/spritesheet/spritesheet.slice.ts
  graphics/store/webview/webview.slice.ts
  graphics/yarn.lock
  studio/defaults/snapshot.ts
Due: deploy:studio

fix bad bug
  graphics/components/spritesheet/spritesheet.component.tsx
  graphics/store/index.ts
  graphics/store/spritesheet/spritesheet.slice.ts
  studio/components/draw-panel/draw-panel.component.tsx
  studio/defaults/palette.ts
  studio/defaults/snapshot.ts
Due: deploy:studio

itsyedit
  .gitlab-ci.yml
  editor/index.tsx
  editor/scss.d.ts
  editor/store/cursor/index.ts
  editor/store/text/index.ts
  editor/store/text/text.slice.ts
  editor/store/webview/index.ts
  editor/store/webview/webview.slice.ts
  itsyedit/.gitignore
  itsyedit/components/editor/codemirror.scss
  itsyedit/components/editor/editor.component.tsx
  itsyedit/components/editor/editor.module.scss
  itsyedit/components/editor/index.js
  itsyedit/index.tsx
  itsyedit/package.json
  itsyedit/prettier.config.js
  itsyedit/scss.d.ts
  itsyedit/store/cursor/cursor.slice.ts
  itsyedit/store/cursor/index.ts
  itsyedit/store/index.ts
  itsyedit/store/selection/index.ts
  itsyedit/store/selection/selection.slice.ts
  itsyedit/store/text/index.ts
  itsyedit/store/text/text.slice.ts
  itsyedit/store/webview/index.ts
  itsyedit/store/webview/webview.slice.ts
  itsyedit/tsconfig.json
  itsyedit/webpack.config.js
  itsyedit/yarn.lock
  settings/tsconfig.json
  studio/babel.config.js
  studio/components/editor/editor.component.tsx
Due: deploy:studio

itsydraw
  .gitlab-ci.yml
  graphics/scss.d.ts
  itsydraw/.gitignore
  itsydraw/components/color/color.component.tsx
  itsydraw/components/color/color.module.scss
  itsydraw/components/color/index.ts
  itsydraw/components/graphics/graphics.component.tsx
  itsydraw/components/graphics/graphics.module.scss
  itsydraw/components/graphics/index.ts
  itsydraw/components/palette/index.ts
  itsydraw/components/palette/palette.component.tsx
  itsydraw/components/palette/palette.module.scss
  itsydraw/components/spritesheet/index.ts
  itsydraw/components/spritesheet/spritesheet.component.tsx
  itsydraw/components/spritesheet/spritesheet.module.scss
  itsydraw/index.tsx
  itsydraw/package.json
  itsydraw/prettier.config.js
  itsydraw/scss.d.ts
  itsydraw/store/color/color.slice.ts
  itsydraw/store/color/index.ts
  itsydraw/store/index.ts
  itsydraw/store/palette/index.ts
  itsydraw/store/palette/palette.slice.ts
  itsydraw/store/spritesheet/index.ts
  itsydraw/store/spritesheet/spritesheet.slice.ts
  itsydraw/store/webview/index.ts
  itsydraw/store/webview/webview.slice.ts
  itsydraw/tsconfig.json
  itsydraw/webpack.config.js
  itsydraw/yarn.lock
  settings/tsconfig.json
  studio/components/draw-panel/draw-panel.component.tsx
Due: deploy:studio

pixlflip
  .gitlab-ci.yml
  pixelflip/.storybook/config.js
  pixelflip/glyph/glyph.component.js
  pixelflip/glyph/glyph.stories.js
  pixelflip/glyph/index.js
  pixelflip/regular/index.js
  pixelflip/regular/regular.component.js
  pixelflip/regular/regular.stories.js
  pixlflip/.gitignore
  pixlflip/.storybook/addons.js
  pixlflip/.storybook/config.js
  pixlflip/.storybook/preview-head.html
  pixlflip/glyph/glyph.component.js
  pixlflip/glyph/glyph.stories.js
  pixlflip/glyph/index.js
  pixlflip/package.json
  pixlflip/pixlflip
  pixlflip/regular/index.js
  pixlflip/regular/regular.component.js
  pixlflip/regular/regular.stories.js
  pixlflip/test
  pixlflip/yarn.lock
  settings/tsconfig.json
  studio/babel.config.js
  studio/components/font/font.component.tsx
  website/gatsby-config.js
  website/pages/index.tsx
Due: deploy:studio, deploy:website

palettes
  itsydraw/store/palette/palette.slice.ts
  itsyedit/components/editor/editor.module.scss
  palettes/package.json
  settings/tsconfig.json
  studio/babel.config.js
  studio/components/button/button.component.tsx
  studio/components/devtools/devtools.component.tsx
  studio/components/disk-icon/disk-icon.component.tsx
  studio/components/disk-inspector/disk-inspector.component.tsx
  studio/components/disk-spritesheet/disk-spritesheet.component.tsx
  studio/components/floppy/floppy.component.tsx
  studio/components/font/font.component.tsx
  studio/components/loading/loading.component.tsx
  studio/components/play/play.component.tsx
  studio/components/stop/stop.component.tsx
  studio/components/storage/storage.component.tsx
  studio/components/tab/tab.component.tsx
  studio/components/tile/tile.component.tsx
  website/components/square/square.module.scss
  website/gatsby-config.js
  website/styles/_html.scss
Due: deploy:studio, deploy:website

itsysite
  .gitlab-ci.yml
  itsysite/.gitignore
  itsysite/components/center/center.component.tsx
  itsysite/components/center/index.ts
  itsysite/components/square/index.ts
  itsysite/components/square/square.component.tsx
  itsysite/components/square/square.module.scss
  itsysite/gatsby-browser.js
  itsysite/gatsby-config.js
  itsysite/package.json
  itsysite/pages/index.tsx
  itsysite/prettier.config.js
  itsysite/styles/_body.scss
  itsysite/styles/_html.scss
  itsysite/tsconfig.json
  itsysite/yarn.lock
  settings/tsconfig.json
Due: none

fix make
  .gitlab-ci.yml
Due: none

bump
  itsyplay/functions/min/min.c
Due: none

fix
  itsyhelp/components/page/page.component.tsx
Due: none

fix watch config
  studio/metro.config.js
Due: deploy:studio

itsycode
  .gitlab-ci.yml
  itsycode/.gitignore
  itsycode/components/editor/codemirror.scss
  itsycode/components/editor/editor.component.tsx
  itsycode/components/editor/editor.module.scss
  itsycode/components/editor/index.js
  itsycode/index.tsx
  itsycode/package.json
  itsycode/prettier.config.js
  itsycode/scss.d.ts
  itsycode/store/cursor/cursor.slice.ts
  itsycode/store/cursor/index.ts
  itsycode/store/index.ts
  itsycode/store/selection/index.ts
  itsycode/store/selection/selection.slice.ts
  itsycode/store/text/index.ts
  itsycode/store/text/text.slice.ts
  itsycode/store/webview/index.ts
  itsycode/store/webview/webview.slice.ts
  itsycode/tsconfig.json
  itsycode/webpack.config.js
  itsycode/yarn.lock
  settings/tsconfig.json
  studio/babel.config.js
  studio/components/editor/editor.component.tsx
  studio/metro.config.js
Due: deploy:studio

typedefs
  itsycode/components/editor/editor.component.tsx
  itsycode/store/cursor/cursor.slice.ts
  itsycode/store/selection/selection.slice.ts
  itsycode/webpack.config.js
  itsydraw/webpack.config.js
  itsyexpo/components/panel-slider/panel-slider.component.tsx
  itsyexpo/components/panel-tiler/panel-tiler.component.tsx
  itsyexpo/components/panel/panel.component.tsx
  itsyexpo/store/safe-area/safe-area.slice.ts
  itsyexpo/store/screen/screen.slice.ts
  itsyhelp/components/breadcrumbs/breadcrumbs.component.tsx
  itsyhelp/components/example/example.component.tsx
  itsyhelp/components/function/function.component.tsx
  itsyhelp/components/input/input.component.tsx
  itsyhelp/components/manual/manual.component.tsx
  itsyhelp/components/output/output.component.tsx
  itsyhelp/components/results/results.component.tsx
  itsyhelp/components/signature/signature.component.tsx
  itsyhelp/store/index.ts
  itsyhelp/store/location/location.slice.ts
  itsyhelp/store/pages/pages.slice.ts
  itsyhelp/webpack.config.js
  itsyplay/exports/read.ts
  itsyplay/exports/write.ts
  itsyplay/server.ts
  settings/tsconfig.json
  typedefs/geometry.d.ts
  typedefs/index.d.ts
  typedefs/manual.d.ts
  typedefs/package.json
  typedefs/prettier.config.js
  types/package.json
Due: none

fix
  itsyexpo/metro.config.js
Due: none

remove storybook
  itsyexpo/App.tsx
  itsyexpo/components/divider/divider.stories.tsx
  itsyexpo/components/editor/editor.stories.tsx
  itsyexpo/components/floppy/floppy.stories.tsx
  itsyexpo/components/font/font.stories.tsx
  itsyexpo/components/play/play.stories.tsx
  itsyexpo/components/stop/stop.stories.tsx
  itsyexpo/package.json
  itsyexpo/storybook/index.ts
  itsyexpo/yarn.lock
Due: none

bump
  itsyexpo/components/button/button.component.tsx
Due: none

get it working again
  itsycode/package.json
  itsydraw/package.json
  itsyedit/package.json
  itsyhelp/package.json
  itsyplay/Makefile
Due: none
