Repository henrycatalinismith/itsy: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:itsy, deploy:studio, deploy:website

.gitlab-ci.yml:

---
stages:
  - build
  - deploy

build:itsy:
  stage: build
  image: highvalleysystems/itsy:latest
  before_script:
    - cd itsy
  only:
    changes:
      - itsy/*
  script:
    - yarn --pure-lockfile
    - make itsy

deploy:studio:
  stage: deploy
  image: node:11-stretch
  dependencies:
    - build:itsy
  only:
    changes:
      - itsy/*
      - studio/*
  script:
    - yarn --pure-lockfile
    - yarn expo login -u $EXPO_USERNAME -p $EXPO_PASSWORD
    - yarn expo publish --non-interactive
  
deploy:website:
  stage: deploy
  image: node:11-stretch
  only:
    changes:
      - website/*
  script:
    - yarn --pure-lockfile
    - yarn gatsby build
    - yarn netlify deploy --prod --dir=public

tet
  website/pages/index.js
Due: none

fi
  .gitlab-ci.yml
Due: none

lol
  website/pages/index.js
Due: none

lol
  .gitlab-ci.yml
Due: none

lolol
  website/pages/index.js
Due: none

yarn add netlify-cli
  website/package.json
  website/yarn.lock
Due: deploy:website

lololol
  website/pages/index.js
Due: none

lolololol
  .gitlab-ci.yml
  website/pages/index.js
Due: none

random change
  studio/components/header.js
Due: none

autodeploy now plz
  .gitlab-ci.yml
  website/pages/index.js
Due: none

always build itsy for studio
  .gitlab-ci.yml
Due: none

test
  studio/components/header.js
Due: none

old yarn
  .gitlab-ci.yml
Due: none

change
  studio/components/header.js
Due: none

plz work
  .gitlab-ci.yml
  itsy/Dockerfile
  studio/components/header.js
Due: build:itsy, deploy:studio

plz work
  studio/components/header.js
Due: none

upgrade node for expo
  .gitlab-ci.yml
Due: none

dot
  studio/components/header.js
Due: none

plz plz plz plz work
  studio/components/header.js
Due: none

fix the ENOSPC again
  .gitlab-ci.yml
Due: none

component directories
  studio/components/disk/disk.component.js
  studio/components/disk/index.js
  studio/components/divider/divider.component.js
  studio/components/divider/index.js
  studio/components/editor/editor.component.js
  studio/components/editor/index.js
  studio/components/floppy/floppy.component.js
  studio/components/floppy/index.js
  studio/components/font/font.component.js
  studio/components/font/index.js
  studio/components/header/header.component.js
  studio/components/header/index.js
  studio/components/play/index.js
  studio/components/play/play.component.js
  studio/components/player/index.js
  studio/components/player/player.component.js
  studio/components/stop/index.js
  studio/components/stop/stop.component.js
  studio/components/tab-bar-icon/index.js
  studio/components/tab-bar-icon/tab-bar-icon.component.js
  studio/components/tile/index.js
  studio/components/tile/tile.component.js
Due: none

set up storybook
  .editorconfig
  studio/App.js
  studio/components/center/center.component.js
  studio/components/center/index.js
  studio/components/disk/disk.stories.js
  studio/components/divider/divider.stories.js
  studio/components/editor/editor.stories.js
  studio/components/floppy/floppy.stories.js
  studio/components/font/font.stories.js
  studio/components/header/header.stories.js
  studio/components/play/play.stories.js
  studio/components/stop/stop.stories.js
  studio/package.json
  studio/storybook/index.js
  studio/yarn.lock
Due: deploy:studio

extract editor
  .gitlab-ci.yml
  editor/.gitignore
  editor/actions.js
  editor/components/editor/editor.component.js
  editor/components/editor/editor.module.scss
  editor/components/editor/index.js
  editor/index.js
  editor/package.json
  editor/stylesheets/codemirror.scss
  editor/webpack.config.js
  editor/yarn.lock
  itsy/Makefile
  itsy/package.json
  studio/package.json
  studio/yarn.lock
Due: build:itsy, deploy:studio

change
  .gitlab-ci.yml
  editor/actions.js
Due: none

lol
  .gitlab-ci.yml
  editor/actions.js
Due: none

try it again
  studio/assets/editor.html
  studio/components/editor/editor.stories.js
  studio/middlewares/assets.js
  studio/package.json
  studio/yarn.lock
Due: deploy:studio

plz work
  .gitlab-ci.yml
  studio/app.json
  studio/components/editor/editor.stories.js
  studio/middlewares/assets.js
  studio/package.json
  studio/rn-cli.config.js
  studio/yarn.lock
Due: deploy:studio

lolololol
  editor/actions.js
Due: none

lolololol
  .gitlab-ci.yml
  editor/actions.js
Due: none

import pixelflip
  pixelflip/.storybook/config.js
  pixelflip/components/center.js
  pixelflip/components/grid.js
  pixelflip/glyph/glyph.component.js
  pixelflip/glyph/glyph.stories.js
  pixelflip/glyph/index.js
  pixelflip/package-lock.json
  pixelflip/package.json
  pixelflip/palettes/cvpb8.cjs.js
  pixelflip/palettes/cvpb8.es6.js
  pixelflip/palettes/cvpb8.scss
  pixelflip/palettes/pico8.cjs.js
  pixelflip/palettes/pico8.es6.js
  pixelflip/palettes/pico8.scss
  pixelflip/regular/index.js
  pixelflip/regular/regular.component.js
  pixelflip/regular/regular.stories.js
  pixelflip/stories/text.stories.js
  pixelflip/yarn.lock
Due: none

weee
  pixelflip/glyph/glyph.component.js
  pixelflip/package.json
  pixelflip/pixlflip
  pixelflip/regular/regular.component.js
  studio/components/font/font.component.js
  studio/package.json
  studio/yarn.lock
Due: deploy:studio

done
  pixelflip/glyph/glyph.component.js
  pixelflip/regular/regular.stories.js
  studio/components/font/font.component.js
Due: none

fix
  itsy/Makefile
Due: build:itsy, deploy:studio

unify build jobs
  .gitlab-ci.yml
  editor/actions.js
Due: none

all one job then
  .gitlab-ci.yml
Due: none
